//Colors
$text-main: #484c56;
$text-second: #727272;
$text-title: #2172e3;
$text-title-hover: #84b1ec;

$comment-bg: #fff8f9;
$table-bg: #ffffff;

$table-border: #a3afbb;

$icon: #4f4f4f;
$icon-active: #bdbdbd;

$success: #53c182;
$warning: #ffb069;
$error: #fb7575;
$info: #2172e3;

$font-text: "Inter", sans-serif;
