.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 450px;
  max-width: 800px;
  margin: 0px auto;
  padding: 16px;
  background-color: #FFFFFF;
  align-items: stretch;
  justify-content: center;
}

.form {
  border-top: solid 1px rgb(163, 175, 187);
  margin-bottom: 20px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}

.form * {
  outline: none;
}

.form__label {
  margin-top: 14px;
  margin-bottom: 2px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}

.form__button {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  border-radius: 8px;
  text-align: center;
}
