.App {
  text-align: center;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 2px 1px #6B005B33;
  margin: 0px auto;
  padding-right: 15px;
  padding-left: 15px;
  flex-grow: 1;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  border-top: solid 1px rgb(163, 175, 187);
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form * {
  outline: none;
}

.form__label, label {
  margin-top: 14px;
  margin-bottom: 2px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}

.form__button {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  border-radius: 8px;
}
