.icon {
    position: relative;
    top: 0;
    &:hover{
        transform: translateY(-3px);
        cursor: pointer;
    }
    &:active {
        top: 3px;
        color: #BDBDBD;
    }
    &__delete {
        color: #4F4F4F;
        margin-right: 20px;
        &:hover {
            color: #FB7575;
        }
    }
    &__like {
        color: #4F4F4F;
        margin-right: 5px;
        &:hover {
            color: rgb(83, 193, 130);
        }
    }
}

.fa-star {
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #FFB069;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}

.icon__like .fa-star {
    opacity: 1;
    transform: translateX(0px);
}

.fa-user {
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: rgb(83, 193, 130);
    margin-left: 10px
}
