.fa-trash {
    color: #FB7575;
    cursor: pointer;
    margin-right: 20px;
}

.fa-star {
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #FFB069;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}

.like .fa-star {
    opacity: 1;
    transform: translateX(0px);
}

.fa-user {
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: rgb(83, 193, 130);
    margin-left: 10px
}

.fa-thumbs-up {
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    margin-right: 0px;
    margin-right: 5px;
    cursor: pointer;
}