@import "./../../styles/variables.scss";

.form {
  &__input {
    padding: 10px;
    border: solid 1px $table-border;
  }
  &__counter {
    font-family: $font-text;
    color: $text-second;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    text-align: right;
    border: none;
  }
}

textarea {
  min-height: 200px;
  resize: vertical;
}
