@import "./../../styles/variables.scss";

.icon {
  position: relative;
  top: 0;
  &:hover {
    transform: translateY(-3px);
    cursor: pointer;
  }
  &:active {
    top: 3px;
    color: $icon-active;
  }
  &__delete {
    color: $icon;
    margin-right: 20px;
    &:hover {
      color: $error;
    }
  }
  &__like {
    color: $icon;
    margin-right: 5px;
    &:hover {
      color: $success;
    }
  }
}

.fa-star {
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: $warning;
  transition: 0.3s all;
  transform: translateX(30px);
  opacity: 0;
}

.icon__like .fa-star {
  opacity: 1;
  transform: translateX(0px);
}

.fa-user {
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: $success;
  margin-left: 10px;
}
